/*PLAN  */

.plan {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 18.125rem;
    height: 21.125rem;
    margin: 15px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
}

.plan__title {
    padding: 18px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 23px;
    border-bottom: 1px solid #e5e5e5;
}

.plan__list {
    font-size: 13px;
    line-height: 24px;
    padding: 11px;
    padding-left: 5.375rem;
    text-align: left;
    /*margin-bottom: 33px;*/    
}

